<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">

<head>

    <th:block th:include="fragments::header"></th:block>

    <title>新增会议</title>

</head>

<body>
<!-- /#wrapper -->
<div id="wrapper">

    <th:block th:include="fragments::topNav"></th:block>

    <div id="page-wrapper">
        <div class="row">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <ol class="breadcrumb " style="margin-bottom:0">
                        <li><a href="#">会议管理</a></li>
                        <li class="active">添加会议</li>
                    </ol>
                </div>
                <div class="panel-body ">
                    <form class="form-horizontal">
                        <!-- 第2行   -->
                        <div class="form-group col-sm-3">
                            <label for="name" class="col-lg-4 control-label">会议名称</label>
                            <div class="col-lg-8 ">
                                <input type="text" class="form-control" id="name" placeholder="请填写会议名称"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <label for="address" class="col-lg-4 control-label">会议地点</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="address" placeholder="请填写会议地址"/>
                            </div>
                        </div>
                        <div class="col-sm-6 clear">&nbsp;<br/><br/><br/></div>
                        <!-- 第3行   -->
                        <div class="form-group col-sm-3">
                            <label for="liaisons" class="col-lg-4 control-label">会议时间</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="liaisons" placeholder="请填写会议时间"/>
                            </div>
                        </div>

                        <div class="form-group col-sm-3">
                            <label class="col-lg-4 control-label"></label>
                            <div class="col-lg-8">
                                <button type="button" class="btn btn-primary" style="margin-right: 20px">
                                    确认
                                </button>
                                <button type="button" class="btn btn-default">
                                    返回
                                </button>
                            </div>
                        </div>

                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>


<th:block th:include="fragments::script"></th:block>
<script>
    $("a[href$='metting']").addClass("active");
</script>
</body>

</html>
