<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">

<head>

    <th:block th:include="fragments::header"></th:block>

    <title>登录</title>

</head>

<body>
<!-- /#wrapper -->
<div id="wrapper">

    <th:block th:include="fragments::topNav"></th:block>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default ">
                    <div class="panel-heading">

                        <ol class="breadcrumb " style="margin-bottom:0" width="40%">
                            <li class="active">对象管理</li>
                            <button type="button" class="btn btn-default" style="float: right;margin-right: 20px">
                                审核
                            </button>

                            <a type="button" href="addObject" class="btn btn-default"
                               style="float: right;margin-right: 20px">
                                新增对象
                            </a>

                            <button id="addYearBtn" type="button" class="btn btn-default"
                                    style="float: right ;margin-right: 20px">
                                新增年份
                            </button>

                        </ol>


                        <div style="float: right">
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="panel panel-default">

                            <!-- /.panel-heading -->
                            <div class="panel-body">

                                <div class="form-group col-sm-3">
                                    <label class="col-sm-4 control-label" style="top: 10px">组织名称</label>
                                    <div class="col-sm-7">
                                        <select id="organizeName" class="form-control">
                                            <option value="0">区府</option>
                                            <option value="1">--国税局</option>
                                            <option value="1">----国税局1</option>
                                            <option value="1">----国税局2</option>
                                            <option value="2">--工商所</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <label class="col-sm-4 control-label" style="top: 10px">考核对象年份</label>
                                    <div class="col-sm-7">
                                        <select id="year" class="form-control">
                                            <option value="0">2017</option>
                                            <option value="1">2018</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-3">
                                    <button type="button" class="btn btn-default">
                                        查询
                                    </button>
                                </div>
                                <br/><br/> <br/><br/><br/>
                                <div class="table-responsive" style="width: 1000px">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>姓名</th>
                                            <th>单位</th>
                                            <th>职务</th>
                                            <th>手机号码</th>
                                            <th>人员类别</th>
                                            <th>审核状态</th>
                                            <th>操作者</th>
                                            <th>审核者</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>国税局1</td>
                                            <td>局长</td>
                                            <td>12345678911</td>
                                            <td>代表员</td>
                                            <td>通过审核</td>
                                            <td>张三</td>
                                            <td>李四</td>
                                            <td>
                                                <a href="addObject" class='btn btn-info btn-xs' role='button'>&nbsp;编&nbsp;辑</a>
                                                <a class='btn btn-danger btn-xs' role='button'>&nbsp;删&nbsp;除</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Mark</td>
                                            <td>国税局1</td>
                                            <td>局长</td>
                                            <td>12345678911</td>
                                            <td>代表员</td>
                                            <td>通过审核</td>
                                            <td>张三</td>
                                            <td>李四</td>
                                            <td>
                                                <a href="addObject" class='btn btn-info btn-xs' role='button'>&nbsp;编&nbsp;辑</a>
                                                <a class='btn btn-danger btn-xs' role='button'>&nbsp;删&nbsp;除</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Mark</td>
                                            <td>国税局1</td>
                                            <td>局长</td>
                                            <td>12345678911</td>
                                            <td>代表员</td>
                                            <td>通过审核</td>
                                            <td>张三</td>
                                            <td>李四</td>
                                            <td>
                                                <a href="addObject" class='btn btn-info btn-xs' role='button'>&nbsp;编&nbsp;辑</a>
                                                <a class='btn btn-danger btn-xs' role='button'>&nbsp;删&nbsp;除</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>

<div class="modal fade" id="addYearModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabelTtitle">新增年份</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal ">
                    <br/>
                    <div class="form-group" id="link">
                        <label class="col-sm-3 control-label" for="src">新增年份</label>
                        <div class="col-sm-7">
                            <input id="src" name="src" type="text" class="form-control"
                                   placeholder="请输入年份"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btnSaveLogo">保存</button>
            </div>
        </div>
    </div>
</div>

<th:block th:include="fragments::script"></th:block>
<script>
    $("#addYearBtn").click(function () {
        $("#addYearModel").modal('show');
    });
</script>
</body>

</html>
