<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="zh-CN">
<head>
<meta http-equiv="refresh" content="0;url=pages/index.html"/>
<title>SB Admin 2</title>
<script language="javascript">
    window.location.href = "pages/index.html"
</script>
</head>
<body>
Go to <a href="pages/index.html">/pages/index.html</a>
</body>
</html>
file:///C:/Users/Administrator/Downloads/startbootstrap-sb-admin-2-gh-pages/pages/index.html
file:///C:/Users/Administrator/Downloads/startbootstrap-sb-admin-2-gh-pages/pages/index.html